/*les cases à cocher*/
.boxes {
    margin: auto;
    padding: 10px;
    background: #17A2B8;
    width: 100px;
  }
  
  /*Checkboxes styles*/
  input[type="radio"] { display: none; }
  
  input[type="radio"] + label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    font: 14px/20px 'Open Sans', Arial, sans-serif;
    color: #ddd;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  input[type="radio"] + label:last-child { margin-bottom: 0; }
  
  input[type="radio"] + label:before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    position: absolute;
    left: 0;
    top: 0;
    opacity: .6;
    -webkit-transition: all .12s, border-color .08s;
    transition: all .12s, border-color .08s;
  }
  
  input[type="radio"]:checked + label:before {
    width: 10px;
    top: -5px;
    left: 5px;
    border-radius: 0;
    opacity: 1;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

/*fin du code des cases*/

/*formulaire*/
.centered-form{
	margin-top: 70px;
}

.centered-form .panel{
    background: rgba(255, 255, 255, 0.8);
	/*box-shadow: rgba(0, 0, 0, 0.3) 20px 20px 20px;*/
}
h3{
    text-align: center;
}
#Transaction{
    border-left:#17A2B8 solid ;
    padding: 10px;
}
/*Fin du formulaire*/